<div class="material-theme">

    <h1>Material Design Web Components</h1>

    <mwc-list @foreach="people" style="width: 300px" :selectedItem="selectedPerson">
        <mwc-list-item hasMeta :twoline="retired">
            <span _style="retired ? 'color: red' : 'color: inherit'">
                [${id}] ${firstname}
            </span>
            <mwc-icon slot="meta" #click="people.delete">delete</mwc-icon>
            <span slot="secondary">retired</span>
        </mwc-list-item>
        <li divider role="separator"></li>
    </mwc-list>

    <mwc-button #click="add">Add</mwc-button>

    <div style="margin: 40px 0px 150px;">
        <mwc-select label="People" @foreach="people" :selectedItem="selectedPerson" style="margin-bottom: 20px;">
            <mwc-list-item value="dummy">${firstname}</mwc-list-item>
        </mwc-select>

        <div @context="selectedPerson">
            <mwc-textfield label="Firstname" :value="firstname"></mwc-textfield>
            <mwc-textfield label="Lastname" :value="lastname"></mwc-textfield>
            <mwc-formfield label="Retired">
                <mwc-checkbox :checked="retired"></mwc-checkbox>
            </mwc-formfield>
        </div>
    </div>
</div>